.text-outline {
    color: #38b2ac; /* Color de relleno */
    -webkit-text-stroke: 1.5px black; /* Borde del texto */
    text-stroke: 1px black; /* Borde del texto para navegadores que soportan esta propiedad */
}

.text-outline-recommendations{
    color: #38b2ac; /* Color de relleno */
    -webkit-text-stroke: 1px black; /* Borde del texto */
    text-stroke: 1px black;
}